<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <br>
    <br>
    <br>
    <br>
    <h1>Document Links:</h1>
    <a href="/formative_portfolio_I"><b>-Formative Portfolio I</b></a>
    <br>
    <a href="/formative_portfolio_II"><b>-Formative Portfolio II</b></a>
    <%- include('../partials/footer') %>
</body>
</html>