<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <br>
    <br>
    <br>
    <br>
    <h1>Document Links:</h1>
    <a href="/"><b>-Final Writeup</b></a>
    <br>
    <a href="/"><b>-Methodology Jupytr Notebook</b></a>
    <%- include('../partials/footer') %>
</body>
</html>